METAL_PRICE_API_KEY=
PRICE_SOURCE=gemgem (if we want to use gemgem as price source)(default)
PRICE_SOURCE=rapnet (if we want to use rapnet as price source)
ENABLE_AI=true (if we want to use AI)
ENABLE_AI=false (if we want to use manual pricing)(default)
OPENAI_API_KEY=your_openai_api_key_here